@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(210, 233, 255);
    min-height: 100vh;
    display: flex;
    font-family: 'Outfit',sans-serif;
    align-items: center;
    font-size: 15px;
}
.container{
    max-width: 360px;
    margin: 0 auto;
}
.img img{
    width: 100%;
    border-radius: 15px;
}
.img{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}
.text{
    padding: 5px 10px;
}
h2{
    color: hsl(218, 44%, 22%);
    padding-bottom: 5px;
}
p{
    color:hsl(220, 15%, 55%) ;
}